<!--Banner Starts-->
<div id="banner_section">
    <div class="flexslider">
        <ul class="slides">
            <li> <img src="/images/lm_banner_1.jpg" />
                <!--<div class="flex-caption">
         <h3>Explore the summer collection!</h3>
  </div>-->
            </li>
            <li> <img src="/images/lm_banner_2.jpg" />
                <!--<div class="flex-caption">
          <h3>Shop now!</h3>
   </div> -->
            </li>
            <li> <img src="/images/lm_banner_3.jpg" /> </li>
        </ul>
    </div>
    <div class="promo_banner">
        <div class="home_banner"><a href="#"><img src="/images/promo_hb_1.jpg" /></a></div>
        <div class="home_banner"><a href="#"><img src="/images/promo_hb_2.jpg" /></a></div>
        <div class="home_banner"><a href="#"><img src="/images/promo_hb_3.jpg" /></a></div>
    </div>
</div>
<!--Banner Ends-->