<div class="checkout_tax">
  	<div class="shipping_tax">
    	<h4>Estimate Shipping and Tax</h4>
        <p>Enter your destination to get a shipping estimate.</p>
        <label>Country</label><select><option />Canada</select><label>Postal code</label><input type="text" />
        <br class="clear" />
        <label>State</label><select><option />Vancouver</select>
        <button type="button" title="" class="brown_btn">Get a Quote</button>
    </div>
    <div class="checkout_discount">
    	<h4>Discount codes</h4>
        <p>Enter your coupon code if you have one.</p>
        <input type="text" />
        <button type="button" title="" class="brown_btn">Apply Coupon</button>
    </div>
  </div>