<div class="col_right">
    <div class="block-progress">
        <div class="block-title">Customer Service</div>
            <ul>
                <li>F.A.Q</li>
                <li>Secure Payment</li>
                <li>Order Tracking</li>
                <li>Shipping</li>
                <li>Return Policy</li>
            </ul>
    </div>
    <div class="right_promo">
    <img src="images/side_promo_banner.jpg" />
    </div>
</div>