<!--SIDE NAV STARTS-->
<div id="side_nav">
    <div class="sideNavCategories">
        <h1>WOMEN</h1>
        <ul class="category departments">
            <li class="header">Departments</li>
            <li><a href="#">Sweaters</a></li>
            <li><a href="#">Knit Tops & Tees</a></li>
            <li><a href="#">Shirts & Blouses</a></li>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Pants</a></li>
            <li><a href="#">Jeans</a></li>
            <li><a href="#">Dresses</a></li>
            <li><a href="#">Skirts</a></li>
            <li><a href="#">No Iron Collection</a></li>
        </ul>
        <ul class="category collection">
            <li class="header">Collection</li>
            <li><a href="#">All Brands</a></li>
            <li><a href="#">Citizens of Humanity</a></li>
            <li><a href="#">Crew Clothing</a></li>
            <li><a href="#">Boutique</a></li>
            <li><a href="#">Summer</a></li>
            <li><a href="#">Mudd & Water</a></li>
        </ul>
        <ul class="category price">
            <li class="header">Price</li>
            <li><a href="#">$50 to $100</a></li>
            <li><a href="#">$100 to $200</a></li>
            <li><a href="#">$200 to $500</a></li>
        </ul>
    </div>
</div>
<!--SIDE NAV ENDS-->