<!--Toolbar-->
<div class="toolbar">
    <div class="sortby">
        <label>Sort by :</label>
        <select>
            <option />PRICE
            <option />NAME
        </select>
    </div>
    <div class="viewby">
        <label>View as :</label>
        <a class="list" href="#"></a> <a class="grid" href="#"></a> </div>
    <div class="show_no">
        <label>Show :</label>
        <select>
            <option />12 ITEMS
            <option />24 ITEMS
        </select>
    </div>
</div>
<!--Toolbar-->