<div class="action_buttonbar">
  <button type="button" title="" class="continue">Continue Shopping</button>
  <button type="button" onclick="parent.location='leisure_checkout.html'" title="" class="checkout">Checkout</button>
</div>